.mint {
  @apply mb-24 flex flex-col;
}

.mint__grid {
  @apply flex h-max flex-col items-start gap-y-6 lg:flex-row lg:space-x-6 lg:space-y-0;
}
.interactionsList {
  @apply relative order-4 w-full overflow-hidden rounded-[25px] border border-shade-mute border-opacity-15 bg-background lg:order-1 lg:w-[400px];
  box-shadow: 0px 4px 12px rgba(84, 108, 241, 0.1);
  &__background {
    @apply absolute left-0 top-0 z-0 hidden h-[115px] w-full lg:block;
  }
  &__content {
    @apply relative flex flex-col px-2 pb-2 pt-2 lg:px-3 lg:pb-3;
    &__header {
      @apply hidden items-center space-x-2 pb-4 pt-3 lg:flex;
      & svg {
        @apply text-primary-apollo;
      }
      &__title {
        @apply font-semibold text-foreground;
      }
    }
    &__list {
      @apply flex h-[100%] flex-col space-y-2 overflow-y-scroll;
      &__item {
        @apply grid cursor-pointer grid-cols-[1fr,1fr,2fr] rounded-2xl border border-border p-4 text-sm text-muted-foreground transition hover:border-primary-apollo hover:text-foreground hover:transition;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        &__number {
          @apply font-medium text-primary-apollo transition;
        }
        &__type {
          @apply font-medium transition;
        }
        &__amount {
          @apply flex items-center justify-center space-x-1.5;
          & span {
            @apply font-medium text-foreground;
          }
        }
      }
    }
  }
}
.mintWidget {
  @apply relative order-2 flex w-full flex-col space-y-4 md:w-[550px] lg:order-2;
  &__card {
    @apply scroll-mt-24;
    &__content {
      @apply relative z-10 flex h-full w-full flex-col;
    }
    @apply relative z-10 w-full space-y-6 rounded-3xl p-2 pb-2;
    &::before {
      background-image:
        linear-gradient(180deg, transparent, rgba(84, 108, 241, 0.1)),
        linear-gradient(90deg, hsl(var(--background)) 0%, hsl(var(--background)) 100%);
    }
    &__title {
      @apply flex items-center space-x-1.5 px-2 pt-6 font-medium md:px-4;
    }
    &__actions {
      @apply flex flex-col space-y-4 rounded-2xl border border-border bg-card px-3 py-4 md:px-4 md:py-4;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
      &__item {
        @apply flex flex-col space-y-1.5;
        &__title {
          @apply flex items-center justify-between font-medium text-muted-foreground;
        }
        &__footer {
          @apply flex items-center justify-between font-medium text-muted-foreground;
          &__estimateUSD {
            @apply ml-auto mr-2 flex items-center gap-2 font-medium text-muted-foreground;
          }
          &__message {
            @apply flex items-center space-x-1.5;
            & svg {
              @apply text-muted-foreground;
            }
          }
        }
      }
      &__balance {
        @apply flex items-center space-x-2;
      }
    }
  }
}
